<div class="container mt-5 mb-5">
  <h2><fa name="wifi"></fa>&nbsp; Communication</h2>
  <hr>
  <table datatable [dtOptions]="dtOptions" class="row-border stripe hover">
    <thead>
      <tr>
        <th>Skills</th>
        <th>Level</th>
        <th>Evaluation</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      <tr class="sub-title">
        <td>Protocols and communication</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Understand the major development phases for mobile communications and development of the associated technology</td>
        <td>4</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Understand the impact of new mobile technology</td>
        <td>4</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Be able to analyse and evaluate optimal wireless network technologies</td>
        <td>4</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Be able to suggest optimal technological solutions for  IoT networks</td>
        <td>4</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Understand and master optimisation of communication protocols for IoT with respect to energy limitations</td>
        <td>4</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Understand and master optimisation of communication protocols with respect to security concerns</td>
        <td>4</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Know the main processing techniques used for digital communication and know how to explain the basic structure of digital RF transmitter-receiver</td>
        <td>4</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Mastering the architecture of an energy management system, simple storage, energy recovery, know how to size the storage element according to the specifications</td>
        <td>4</td>
        <td></td>
        <td></td>
      </tr>
      <tr class="sub-title">
        <td>Security for IoT networks</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Understand the fundamentals of security</td>
        <td>4</td>
        <td>TP Report</td>
        <td></td>
      </tr>
      <tr>
        <td>Be able to identify security weaknesses in an IoT architecture</td>
        <td>3</td>
        <td>TP Report</td>
        <td></td>
      </tr>
      <tr>
        <td>Be able to assess the impact of exploiting a security vulnerability in an IoT architecture</td>
        <td>3</td>
        <td>TP Report</td>
        <td></td>
      </tr>
      <tr>
        <td>Be able to propose adequate security counter-measures</td>
        <td>3</td>
        <td>TP Report</td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>