<div class="container mt-5 mb-5">
  <h2><fa name="wifi"></fa>&nbsp; Communication</h2>
  <hr>
  <table datatable [dtOptions]="dtOptions" class="row-border stripe hover">
    <thead>
      <tr>
        <th>Compétence</th>
        <th>Niveau</th>
        <th>Évaluation</th>
      </tr>
    </thead>
    <tbody>
      <tr class="sub-title">
        <td colspan="3"><a routerLink="200">Protocoles et communication &nbsp;<fa name="external-link"></fa></a></td>
      </tr>
      <tr>
        <td>Comprendre les phases majeures de développement des communications mobiles et le développement des technologies associées</td>
        <td class="dt-center">4</td>
        <td rowspan="8" class="dt-center">NB-IoT<br>Couches MAC<br>Exercice Interferences Zigbee<br>5G & Smart Cities<br>Sécurité pour les réseaux IoT<br>Protocoles et Communication<br>Stade de 4A<br>Projet intégrateur</td>
      </tr>
       <tr>
        <td>Comprendre l'impact des nouvelles technologies mobiles</td>
        <td class="dt-center">4</td>
      </tr>
      <tr>
        <td>Être capable d'analyser et d'évaluer les technologies de réseau sans-fil optimales</td>
        <td class="dt-center">4</td>
      </tr>
      <tr>
        <td>Être capable de proposer des solutions technologiques optimales pour les réseaux de l'IoT</td>
        <td class="dt-center">4</td>
      </tr>
      <tr>
        <td>Comprendre et maîtriser l'optimisation des protocoles de communication pour l'IoT en accord avec les limites énergétiques</td>
        <td class="dt-center">4</td>
      </tr>
      <tr>
        <td>Comprendre et maîtriser l'optimisation des protocoles de communication en accord avec la contrainte de la sécurité</td>
        <td class="dt-center">4</td>
      </tr>
      <tr>
        <td>Savoir les principales techniques de traitement utilisées pour la communication numérique et savoir expliquer la structure basique d'un émetteur-récepteur RF numérique</td>
        <td class="dt-center">4</td>
      </tr>
      <tr>
        <td>Maîtriser l'architecture d'un système de gestion d'énergie, à simple stockage, à récupération d'énergie, savoir comment dimensionner les éléments de stockage selon le cahier des charges</td>
        <td class="dt-center">4</td>
      </tr>
      <tr><td colspan="3"></td></tr>
      <tr class="sub-title">
        <td colspan="3"><a routerLink="201">Sécurité pour les réseaux IoT &nbsp;<fa name="external-link"></fa></a></td>
      </tr>
      <tr>
        <td>Comprendre les fondamentaux de la sécurité</td>
        <td class="dt-center">4</td>
        <td rowspan="4" class="dt-center">Sécurité pour les réseaux IoT<br>NB-IoT</td>
      </tr>
      <tr>
        <td>Être capable d'identifier les faiblesses de sécurité dans une architecture IoT</td>
        <td class="dt-center">3</td>
      </tr>
      <tr>
        <td>Être capable de comprendre l'impact de l'exploitation d'une vulnérabilité dans la sécurité d'une architecture IoT</td>
        <td class="dt-center">3</td>
      </tr>
      <tr>
        <td>Être capable de proposer des contre-mesures de sécurité adéquates</td>
        <td class="dt-center">3</td>
      </tr>
    </tbody>
  </table>
  <div class="row mt-3">
    <div class="col">
      <i>Légende :</i>
      <ul>
        <li><b>1</b> = niveau d'application (suivre des instructions ou méthodes)</li>
        <li><b>2</b> = niveau d'analyse (amélioration ou optimisation des solutions ou propositions)</li>
        <li><b>3</b> = niveau de maîtrise (conception de programmes ou définition de cahier des charges)</li>
        <li><b>4</b> = niveau d'expertise (définition de directives ou de stratégies)</li>
      </ul>
    </div>
  </div>
</div>