<nav role="navigation" class="navbar fixed-top navbar-expand-lg navbar-dark bd-navbar shadow-sm">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" routerLink="home">
      <img src="./assets/images/moi.jpg" width="30" height="30" class="d-inline-block align-top rounded-circle" alt="">
      &nbsp; Elie <span class="family-name">Taillardat</span>
    </a>
    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="home">Home</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="profile">Profil - CV</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link">Portfolio</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link">WhileOne Studios</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link">Contact</a>
        </li>
      </ul>
      <ul class="navbar-nav my-2 my-lg-0">
        <li class="nav-item">
          <a target="_blank" class="nav-link" href="https://www.facebook.com/elie.taillardat"><fa name="facebook"></fa></a>
        </li>
        <li class="nav-item">
          <a target="_blank" class="nav-link" href="https://www.linkedin.com/in/elie-taillardat"><fa name="linkedin"></fa></a>
        </li>
        <li class="nav-item">
          <a target="_blank" class="nav-link" href="https://github.com/elietaillardat"><fa name="github"></fa></a>
        </li>
        <li class="nav-item">
          <a target="_blank" class="nav-link" href="https://play.google.com/store/apps/dev?id=8879401364508732186"><fa name="android"></fa></a>
        </li>
        <li class="nav-item">
          <a target="_blank" class="nav-link" href="https://www.instagram.com/elietaillardat"><fa name="instagram"></fa></a>
        </li>
      </ul>
    </div>
  </div>
  <app-sub-nav id="sub-nav" [ngClass]="{'hidden': router.url !== '/profile'}"></app-sub-nav>
</nav>