<div class="container">
  <div class="row mt-4 mb-4 align-items-center">
    <div class="col-auto text-center">
      <h2 class="mb-0"><a class="arrow-back" routerLink="/profile"><fa name="arrow-left"></fa></a></h2>
    </div>
    <div class="col-2 pl-0">
      <img class="d-flex flex-wrap img-fluid" src="./assets/images/{{img}}">
    </div>
    <div class="col-auto pl-0 border-left">
      <h2 class="mb-0">&nbsp; {{ title }}</h2>
    </div>
  </div>
  <h5 class="exp-description"><b>Intitulé :&nbsp;</b></h5>
  <h5 class="exp-description">{{ description }}</h5>
  <p *ngIf="img == 'wiifor.png'">À venir</p>
  <hr>
  <h5 class="exp-description"><b>Notions clefs :&nbsp;</b></h5>
  <app-skill-tag  *ngFor="let i of indexes;"
                  [color]="tags[i].color"
                  [skillName]="tags[i].name">
  </app-skill-tag>
  <div id="md-content" class="rounded border p-4 mt-2" NgxMd path="./assets/md/{{md_file}}"></div> 
  <div class="gallery mt-4" id="gallery">
    <figure class="mb-3 border"  *ngFor="let img of gallery;">
      <img class="click-to-expand img-fluid" src="./assets/images/experiences/{{img}}" alt="Card image cap">
    </figure>
  </div>

</div>