<div class="container mt-5">
  <h2><img src="./assets/images/iss2.png" width="90" height="63" alt="iss logo">&nbsp; PTP Innovative Smart Systems</h2>
  <hr>
  <div class="row mb-3">
    <div class="col">
      Le présent Portfolio entre dans le cadre de l'évaluation finale du PTP <b>Innovative Smat Systems</b>.
      <br><br>J'ai personnellement choisi de le présenter sous la forme d'un site web, que je pourrai réutiliser plus tard comme <b>valeur ajoutée</b> dans mon profil.
      <br>Le tableau suivant représente les différentes notions abordées durant mon dernier semestre à l'INSA, vous pouvez en découvrir tous les détails en parcourant les liens suivants !
    </div>
  </div>
  <table datatable [dtOptions]="dtOptions" class="row-border stripe hover">
    <thead>
      <tr>
        <th>Intitulé</th>
        <th>Contenu</th>
        <th>Hours</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><b><a routerLink="smart-devices"><fa name="microchip"></fa>&nbsp; Smart Devices &nbsp;<fa name="external-link"></fa></a></b></td>
        <td>Introduction aux capteurs (+ capteurs optiques), Microcontrôleurs & Open-Source Hardware, CAD, fabrication & intégration de capteurs nano-technologiques</td>
        <td>60,25</td>
      </tr>
      <tr>
        <td><b><a routerLink="communication"><fa name="wifi"></fa>&nbsp; Communication &nbsp;<fa name="external-link"></fa></a></b></td>
        <td>Protocoles et communication : communications numériques sans-fil, énergie (récupération, transfert), réseaux émergeants (SDN, NGN), Sécurité pour les réseaux d'objets connectés</td>
        <td>63,75</td>
      </tr>
      <tr>
        <td><b><a routerLink="mdware-services"><fa name="database"></fa>&nbsp; Intergiciel & Services &nbsp;<fa name="external-link"></fa></a></b></td>
        <td>Architecture de Service, Intergiciel pour l'Internet des Objets (IoT), Adaptabilité: cloud et gestion autonomique</td>
        <td>62</td>
      </tr>
      <tr>
        <td><b><a routerLink="analysis-data"><fa name="sitemap"></fa>&nbsp; Analyse et Traitement de données &nbsp;<fa name="external-link"></fa></a></b></td>
        <td>Ingénierie logicielle, Données Sémantiques, Big Data, Séminaires et SPOC</td>
        <td>37,5</td>
      </tr>
      <tr>
        <td><b><a routerLink="innovation-humanity"><fa name="globe"></fa>&nbsp; Innovation & Humanité &nbsp;<fa name="external-link"></fa></a></b></td>
        <td>Innovation, Acceptabilité sociale et Business développement, Méthodes de créativité, méthode TRIZ, Management d'équipe, Sport, Parcours Professionnel Individualisé (PPI)</td>
        <td>95,5</td>
      </tr>
      <tr>
        <td><b><a routerLink="innovative-project"><fa name="lightbulb-o"></fa>&nbsp; Projet innovant &nbsp;<fa name="external-link"></fa></a></b></td>
        <td>Projet d'innovation, Portfolio, Anglais</td>
        <td>80,75</td>
      </tr>
      <tr><td colspan="3"></td></tr>
      <tr>
        <td><b><a routerLink="/profile/experiences/7"><fa name="suitcase"></fa>&nbsp; Stage de fin d'études &nbsp;<fa name="external-link"></fa></a></b></td>
        <td colspan="2"></td>
      </tr>
    </tbody>
  </table>
  <div class="row mt-4">
    <div class="col">
      <h2>Bilan personnel de ce semestre et de l'enseignement ISS</h2>
      <h4>Choix du PTP</h4>
      <p>Le choix de ce parcours s'est fait assez naturellement en 4ème année, car j'ai toujours aimé les systèmes et objets connectés, et l'occasion de suivre un enseignement particulier 
      pour cela était une <b>opportunité à saisir</b>. Le goût pour ces technologies m'est venu assez tôt dans ma scolarité, par la réalisation de <b>2 projets importants</b> dès le lycée en Sciences de l'Ingénieur,
      dont un sur l'automatisation d'un volet à battant via une application Android. De même, mes différents stages, notamment celui de 4ème année chez Beenetic Systems où j'ai vraiment appréhender le <b>monde de l'IoT</b>.
      </p>
      <h4>Compétences acquises</h4>
      <p>Ce PTP m'a permis de <b>découvrir et améliorer</b> mes compétences dans de nombreux domaines, et ce Portfolio m'a donnée la chance de tout rassembler dans un espace unique que je pourrai faire valoir dans le futur.
      </p>
      <h4>Projet d'innovation</h4>
      <p>L'intégration d'un projet en <b>fil rouge</b> sur tout le semestre est aussi une très bonne idée. Cela m'a permis de vraiment réalisé un travail d'équiipe, et cette année pour un client avec qui nous avons beaucoup échangé durant ces mois.
      J'ai aussi pu faire valloir mon <b>rôle de leader</b> au sein des différentes opérations, et passer de <b>très bons moments</b> avec mon équipe malgré certaines difficultés rencontrées.
      </p>
      <h4>Hackathon de Banyuls</h4>
      <p>Un petit mot sur ce moment fort de la formation, qui m'a beaucoup appris en terme d'<b>organisation et de travail en équipe</b> dans des délais limités avec un rendu à faire valloir au bout. J'en garde de très bon souvenirs et un esprit très convivial.</p>
      <h4>Conclusion</h4>
      <p>Pour conclure, je dirai que ce PTP est <b>vraiment formateur</b> et nous inculque de très nombreux savoirs et compétences que nous pourront réutiliser dans notre futur métier d'ingénieur dans le monde des objets connectés.
      Je vais d'ailleurs une nouvelle fois réaliser mon stage dans une <b>start-up, Wiifor</b>, dans ce domaine précis, et il me tarde déjà de commencer !
      <br><br>Le PTP a pu me sembler <b>un peu condensé</b> à certains moments, et j'aurais aimé avoir plus de temps pour certains projets et TP car ce sont pour moi les éléments clefs et les plus formateurs dans un enseignement.
      Dans tous les cas, je recommande cette spécialité, le monde des objets connectés ayant un <b>grand avenir</b> devant lui.</p>
    </div>
  </div>
</div>