<div class="container mt-5">
  <h2><img src="./assets/images/iss2.png" width="90" height="63" alt="iss logo">&nbsp; PTP Innovative Smart Systems</h2>
  <hr>
  <table datatable [dtOptions]="dtOptions" class="row-border stripe hover">
    <thead>
      <tr>
        <th>Intitulé</th>
        <th>Contenu</th>
        <th>Hours</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><b><a routerLink="smart-devices"><fa name="microchip"></fa>&nbsp; Smart Devices &nbsp;<fa name="external-link"></fa></a></b></td>
        <td>Introduction aux capteurs (+ capteurs optiques), Microcontrôleurs & Open-Source Hardware, CAD, fabrication & intégration de capteurs nano-technologiques</td>
        <td>60,25</td>
      </tr>
      <tr>
        <td><b><a routerLink="communication"><fa name="wifi"></fa>&nbsp; Communication &nbsp;<fa name="external-link"></fa></a></b></td>
        <td>Protocoles et communication : communications numériques sans-fil, énergie (récupération, transfert), réseaux émergeants (SDN, NGN), Sécurité pour les réseaux d'objets connectés</td>
        <td>63,75</td>
      </tr>
      <tr>
        <td><b><a routerLink="mdware-services"><fa name="database"></fa>&nbsp; Intergiciel & Services &nbsp;<fa name="external-link"></fa></a></b></td>
        <td>Architecture de Service, Intergiciel pour l'Internet des Objets (IoT), Adaptabilité: cloud et gestion autonomique</td>
        <td>62</td>
      </tr>
      <tr>
        <td><b><a routerLink="analysis-data"><fa name="sitemap"></fa>&nbsp; Analyse et Traitement de données &nbsp;<fa name="external-link"></fa></a></b></td>
        <td>Ingénierie logicielle, Données Sémantiques, Big Data, Séminaires et SPOC</td>
        <td>37,5</td>
      </tr>
      <tr>
        <td><b><a routerLink="innovation-humanity"><fa name="globe"></fa>&nbsp; Innovation & Humanité &nbsp;<fa name="external-link"></fa></a></b></td>
        <td>Innovation, Acceptabilité sociale et Business développement, Méthodes de créativité, méthode TRIZ, Management d'équipe, Sport, Parcours Professionnel Individualisé (PPI)</td>
        <td>95.5</td>
      </tr>
      <tr>
        <td><b><a routerLink="innovative-project"><fa name="lightbulb-o"></fa>&nbsp; Projet innovant &nbsp;<fa name="external-link"></fa></a></b></td>
        <td>Projet d'innovation, Portfolio, Anglais</td>
        <td>80.75</td>
      </tr>
      <tr>
        <td><b><a routerLink="/profile/experiences/7"><fa name="suitcase"></fa>&nbsp; Stage de fin d'études &nbsp;<fa name="external-link"></fa></a></b></td>
        <td colspan="2"></td>
      </tr>
    </tbody>
  </table>
</div>