<li class="mb-3">
  <h6>{{ softwareName }}</h6>
  <div class="row align-items-center">
    <div class="col-lg-11 col-md-11 col-xs-11">
      <div class="progress" style="height: 10px;">
        <div class="progress-bar bg-info" role="progressbar" [ngStyle]="{'width': softwareLevel}"></div>
      </div>
    </div>
    <div class="col-lg-1 col-md-1 col-xs-1">
      <a data-toggle="collapse" attr.data-target="#more-{{ id }}"><fa name="chevron-down"></fa></a>
    </div>
  </div>
  <div attr.id="more-{{ id }}" class="row collapse">
    <div class="col">
      <span class="mini-project">{{ softwareExamples }}</span>
    </div>
  </div>
</li>
