<h5 *ngIf="id == 1"><fa name="code"></fa>&nbsp; Programming skills</h5>
<h5 *ngIf="id == 6"><fa name="laptop"></fa>&nbsp; Web programming</h5>

<li class="mb-3">
  <div class="row align-items-center">
    <div class="col-1">
      <a class="arrow" [ngStyle]="{'color': color}" data-toggle="collapse" attr.data-target="#more-s{{ id }}"><fa name="chevron-circle-down"></fa></a>
    </div>
    <div class="col">
      <div class="progress tag">
        <div class="progress-bar" role="progressbar" [ngStyle]="{'width': softwareLevel, 'background-color': color}">
          <h6 class="tag-content">{{ softwareName }}</h6>
        </div>
      </div>
    </div>
  </div>
  <div attr.id="more-s{{ id }}" class="row collapse">
    <div class="col">
      <span class="mini-project">{{ softwareExamples }}</span><br>
      <span class="mini-project"><a [routerLink]="[]">See projects »</a></span>
    </div>
  </div>
</li>