<div class="container mt-5 mb-5">
  <h2><fa name="globe"></fa>&nbsp; Innovation & Humanité</h2>
  <hr>
  <table datatable [dtOptions]="dtOptions" class="row-border stripe hover">
    <thead>
      <tr>
        <th>Compétence</th>
        <th>Niveau</th>
        <th>Évaluation</th>
      </tr>
    </thead>
    <tbody>
      <tr class="sub-title">
        <td colspan="3"><a routerLink="500">Gérer un projet innovant &nbsp;<fa name="external-link"></fa></a></td>
      </tr>
      <tr>
        <td>Résoudre un problème de manière créative</td>
        <td class="dt-center">4</td>
        <td></td>
      </tr>
      <tr>
        <td>Développer la phase amont de l'innovation</td>
        <td class="dt-center">4</td>
        <td></td>
      </tr>
      <tr>
        <td>Comprendre la production, la validation, la distribution, l'acceptance et la répercussion de l'innovation</td>
        <td class="dt-center">4</td>
        <td></td>
      </tr>
      <tr>
        <td>Structurer et diriger un projet innovant</td>
        <td class="dt-center">4</td>
        <td></td>
      </tr>
      <tr><td colspan="3"></td></tr>
      <tr class="sub-title">
        <td colspan="3"><a routerLink="501">Travailler en équipe &nbsp;<fa name="external-link"></fa></a></td>
      </tr>
      <tr>
        <td>Travailler en équipe avec des étudiants aux parcours multidisciplinaires</td>
        <td class="dt-center">4</td>
        <td></td>
      </tr>
      <tr><td colspan="3"></td></tr>
      <tr class="sub-title">
        <td colspan="3"><a routerLink="502">Être convaincant: présenter et défendre une idée &nbsp;<fa name="external-link"></fa></a></td>
      </tr>
      <tr>
        <td>Exprimer et échanger des hypothèses</td>
        <td class="dt-center">4</td>
        <td></td>
      </tr>
      <tr>
        <td>Suggérer une stratégie pour résoudre le problème identifié</td>
        <td class="dt-center">4</td>
        <td></td>
      </tr>
      <tr>
        <td>Suggérer un modèle</td>
        <td class="dt-center">4</td>
        <td></td>
      </tr>
      <tr>
        <td>Choisir, concevoir et/ou justifier un protocole ou un prototype expérimental</td>
        <td class="dt-center">4</td>
        <td></td>
      </tr>
      <tr><td colspan="3"></td></tr>
      <tr class="sub-title">
        <td colspan="3"><a routerLink="503">Auto-évaluation avec le Portfolio &nbsp;<fa name="external-link"></fa></a></td>
      </tr>
      <tr>
        <td>Réfléchir sur mes processus et méthodes d'apprentissage</td>
        <td class="dt-center">4</td>
        <td>Portfolio</td>
      </tr>
      <tr>
        <td>Être capable de mettre en avant mes expériences, explicites ou implicites</td>
        <td class="dt-center">4</td>
        <td>Portfolio</td>
      </tr>
      <tr>
        <td>Être autonome et responsable vis-à-vis des études</td>
        <td class="dt-center">4</td>
        <td>Portfolio</td>
      </tr>
    </tbody>
  </table>
</div>