<div class="container mt-5 mb-5">
  <h2><fa name="globe"></fa>&nbsp; Innovation & Humanity</h2>
  <hr>
  <table datatable [dtOptions]="dtOptions" class="row-border stripe hover">
    <thead>
      <tr>
        <th>Skills</th>
        <th>Level</th>
        <th>Evaluation</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      <tr class="sub-title">
        <td>Manage an innovative project</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Solve a problem in a creative way</td>
        <td>4</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Develop the first stage of innovation </td>
        <td>4</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Understand production, validation, distribution, acceptability, and aftermath of innovation</td>
        <td>4</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Establish a business plan</td>
        <td>4</td>
        <td></td>
        <td></td>
      </tr>
      <tr class="sub-title">
        <td>Learn teamwork</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Multi-disciplinary students work as a team</td>
        <td>4</td>
        <td></td>
        <td></td>
      </tr>
      <tr class="sub-title">
        <td>Be convincing: present and defend an idea</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Express and exchange hypotheses</td>
        <td>4</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Suggest a strategy to solve the problem identified</td>
        <td>4</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Suggest a model</td>
        <td>4</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Choose, design and / or justify a protocol or an experimental prototype</td>
        <td>4</td>
        <td></td>
        <td></td>
      </tr>
      <tr class="sub-title">
        <td>Self evaluation with the portfolio</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Reflect upon my training process and methods</td>
        <td>4</td>
        <td>Portfolio</td>
        <td></td>
      </tr>
      <tr>
        <td>Be able to put forward my training experiences, whether they be explicit or implicit</td>
        <td>4</td>
        <td>Portfolio</td>
        <td></td>
      </tr>
      <tr>
        <td>Be self-sufficient and responsible towards my education</td>
        <td>4</td>
        <td>Portfolio</td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>