<div class="container mt-4">
  <div class="row">
    <div class="col">
      <h3><b><fa name="angle-right"></fa> Room:</b> GEI_READING_ROOM</h3>
    </div>
    <div class="col text-right">
      <h3>{{ currentTime }}</h3>
    </div>
  </div>
  <hr class="mt-2">
  <div class="row">
    <div class="col-lg-4 border-right">
      <div class="form-group mx-1">
        <img class="d-flex flex-wrap img-fluid scenario" src="./assets/images/rest_om2m.png"/>
      </div>
      <div class="form-group row">
        <div class="col border rounded mx-3 p-3">
          <h5>Dernières actions</h5>
          <div *ngFor="let log of consoleLogs;">{{ log }}</div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 border-right">
      <h3>Informations</h3>
      <h5>Temp sensors</h5>
      <div class="form-group row">
        <label class="col-lg-6 text-left col-form-label">Outside T°:</label>
        <div class="input-group col-lg-6 text-right">
          <div class="input-group-prepend">
            <span class="input-group-text">°C</span>
          </div>
          <input type="text" readonly class="form-control text-center" value="21">
          <div class="input-group-append">
            <button type="button" class="btn btn-outline-info" data="ext_temp" (click)="getRequest($event)"><fa name="refresh"></fa></button>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-lg-6 text-left col-form-label">Inside T°:</label>
        <div class="input-group col-lg-6 text-right">
          <div class="input-group-prepend">
            <span class="input-group-text">°C</span>
          </div>
          <input type="text" readonly class="form-control text-center" value="14">
          <div class="input-group-append">
            <button type="button" class="btn btn-outline-info" data="int_temp" (click)="getRequest($event)"><fa name="refresh"></fa></button>
          </div>
        </div>
      </div>
      <h5>Illuminance sensor</h5>
      <div class="form-group row">
        <label class="col-lg-6 text-left col-form-label">Value in lux:</label>
        <div class="input-group col-lg-6 text-right">
          <div class="input-group-prepend">
            <span class="input-group-text">lx</span>
          </div>
          <input type="text" readonly class="form-control text-center" value="632">
          <div class="input-group-append">
            <button type="button" class="btn btn-outline-info" data="illumin" (click)="getRequest($event)"><fa name="refresh"></fa></button>
          </div>
        </div>
      </div>
      <h5>Presence sensor</h5>
      <div class="form-group row">
        <label for="presence" class="col-lg-6 text-left col-form-label">Motion?</label>
        <div class="input-group col-lg-6 text-right">
          <div class="input-group-prepend">
            <span class="input-group-text"><fa name="user-secret"></fa></span>
          </div>
          <input type="text" readonly class="form-control text-center" value="TRUE">
          <div class="input-group-append">
            <button type="button" class="btn btn-outline-info" data="presence" (click)="getRequest($event)"><fa name="refresh"></fa></button>
          </div>
        </div>
      </div>
      <hr>
      <div class="form-group row">
        <h6 for="heaterState" class="col-lg-6 text-left col-form-label">Heater state:</h6>
        <div class="input-group col-lg-6 text-right">
          <div class="input-group-prepend power-on">
            <span class="input-group-text"><fa name="power-off"></fa></span>
          </div>
          <input type="text" class="form-control text-center" [value]="getState(heaterState)">
          <div class="input-group-append">
            <button type="button" class="btn btn-outline-info" data="heater_state" (click)="getRequest('heater_state')"><fa name="refresh"></fa></button>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <h6 for="lightState" class="col-lg-6 text-left col-form-label">Lights state:</h6>
        <div class="input-group col-lg-6 text-right">
          <div class="input-group-prepend power-off">
            <span class="input-group-text"><fa name="power-off"></fa></span>
          </div>
          <input type="text" readonly class="form-control text-center" value="OFF">
          <div class="input-group-append">
            <button type="button" class="btn btn-outline-info" data="lights_state" (click)="getRequest($event)"><fa name="refresh"></fa></button>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <h6 for="doorsState" class="col-lg-6 text-left col-form-label">Doors state:</h6>
        <div class="input-group col-lg-6 text-right">
          <div class="input-group-append power-on">
            <span class="input-group-text"><fa name="check"></fa></span>
          </div>
          <input type="text" readonly class="form-control text-center" value="OPEN">
          <div class="input-group-append">
            <button type="button" class="btn btn-outline-info" data="doors_state" (click)="getRequest($event)"><fa name="refresh"></fa></button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <h3>Room settings</h3>
      <h5>Day/Night hours</h5>
      <form class="mb-2" data="opening_hour" (ngSubmit)="postRequest($event)">
        <div class="form-group row">
          <label class="col-lg-5 col-form-label">Opening hour:</label>
          <div class="input-group col-lg-7">
            <div class="input-group-prepend">
              <span class="input-group-text"><fa name="sun-o"></fa></span>
            </div>
            <input type="time" class="form-control text-center" [formControl]="formValue">
            <div class="input-group-append">
              <button type="submit" class="btn btn-outline-success"><fa name="check"></fa></button>
            </div>
          </div>
        </div>
      </form>
      <form class="mb-2" data="closing_hour" (ngSubmit)="postRequest($event)">
        <div class="form-group row">
          <label class="col-lg-5 col-form-label">Closing hour:</label>
          <div class="input-group col-lg-7">
            <div class="input-group-prepend">
              <span class="input-group-text"><fa name="moon-o"></fa></span>
            </div>
            <input type="time" class="form-control text-center" [formControl]="formValue">
            <div class="input-group-append">
              <button type="submit" class="btn btn-outline-success"><fa name="check"></fa></button>
            </div>
          </div>
        </div>
      </form>
      <hr>
      <h5>Heater</h5>
      <form class="mb-3" (ngSubmit)="postRequest('heater_threshold')">
        <div class="form-group row">
          <label class="col-lg-5 col-form-label">T° threshold:</label>
          <div class="input-group col-lg-7">
            <div class="input-group-prepend">
              <span class="input-group-text">°C</span>
            </div>
            <input type="number" class="form-control text-center" [formControl]="formValue">
            <div class="input-group-append">
              <button type="submit" class="btn btn-outline-success"><fa name="check"></fa></button>
            </div>
          </div>
        </div>
      </form>
      <hr>
      <h5>Illuminance</h5>
      <form class="mb-3" data="illumin_threshold" (ngSubmit)="postRequest($event)">
        <div class="form-group row">
          <label class="col-lg-5 col-form-label">Light threshold:</label>
          <div class="input-group col-lg-7">
            <div class="input-group-prepend">
              <span class="input-group-text">lx</span>
            </div>
            <input type="number" class="form-control text-center" [formControl]="formValue">
            <div class="input-group-append">
              <button type="submit" data="illumin_threshold" class="btn btn-outline-success"><fa name="check"></fa></button>
            </div>
          </div>
        </div>
      </form>
      <hr>
      <div class="row align-items-center mt-4">
        <div class="col-lg-6 text-center">
          <img src="./assets/images/warning.png" width="40" height="40"/>
          <h4>Alarm OFF</h4>
        </div>
        <div class="col-lg-6 text-center" [hidden]="!showSpinner">
          <fa name="spinner" size="3x" animation="spin"></fa>
        </div>
      </div>
    </div>
  </div>
</div>