.form-control[readonly] {
  background-color: white;
}

hr.log {
  margin: 0.5rem;
}

img.scenario {
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
}

.logs {
  overflow-y: scroll;
  height: 200px;
}

.spinner {
  top: .75rem;
  right: .75rem;
  position: absolute;
}