.form-control[readonly] {
  background-color: white;
}

.power-on span {
  color: rgb(0, 110, 74);
}

.power-off span {
  color: rgb(145, 0, 0);
}

img.scenario {
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
}

.logs {
  overflow-y: scroll;
  height: 200px;
}

.spinner {
  top: .75rem;
  right: .75rem;
  position: absolute;
}