<div class="container mt-5 mb-5">
  <h2><fa name="microchip"></fa>&nbsp; Smart Devices</h2>
  <hr>
  <table datatable [dtOptions]="dtOptions" class="row-border stripe hover">
    <thead>
      <tr>
        <th>Skills</th>
        <th>Level</th>
        <th>Evaluation</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      <tr class="sub-title">
        <td>Introduction to Sensors</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Understand basic notions of sensors, data acquisition: physics, electronics and metrology point of view</td>
        <td>4</td>
        <td>Exercise</td>
        <td></td>
      </tr>
      <tr>
        <td>Be able to manufacture a nano-particles sensor using micro-electronics tools: chemical synthesis, assembly, testing</td>
        <td>4</td>
        <td>Cleanroom training</td>
        <td></td>
      </tr>
      <tr>
        <td>Be able to design the datasheet of the sensor manufactured</td>
        <td>4</td>
        <td>Datasheet</td>
        <td></td>
      </tr>
      <tr class="sub-title">
        <td>Microcontrollers and Open Source Hardware</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Understand microcontroller archictecture and how to use them</td>
        <td>4</td>
        <td>Portfolio</td>
        <td></td>
      </tr>
      <tr>
        <td>Be able to design data acquisition system (sensor, conditioner, microcontroller) with respect to the application</td>
        <td>4</td>
        <td>Portfolio</td>
        <td></td>
      </tr>
      <tr>
        <td>Be able to design the electronic circuit of a sensor’s signal conditioner (design + simulation)</td>
        <td>4</td>
        <td>Portfolio</td>
        <td></td>
      </tr>
      <tr>
        <td>Be able to design a shield to accommodate the gas sensor</td>
        <td>4</td>
        <td>Portfolio</td>
        <td></td>
      </tr>
      <tr>
        <td>Be able to design the software to use the gas sensor and its HMI</td>
        <td>3</td>
        <td>Portfolio</td>
        <td></td>
      </tr>
      <tr>
        <td>Be able to combine all of the above mentioned components into a smart device</td>
        <td>4</td>
        <td>Portfolio</td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>