<div class="container mt-5 mb-5">
  <h2><fa name="microchip"></fa>&nbsp; Smart Devices</h2>
  <hr>
  <table datatable [dtOptions]="dtOptions" class="row-border stripe hover">
    <thead>
      <tr>
        <th>Compétence</th>
        <th>Niveau</th>
        <th>Évaluation</th>
      </tr>
    </thead>
    <tbody>
      <tr class="sub-title">
        <td colspan="3"><a routerLink="100">Introduction aux capteurs &nbsp;<fa name="external-link"></fa></a></td>
      </tr>
      <tr>
        <td>Comprendre les notions basiques des capteurs et des chaînes d'acquisition: du point de vue physique, électronique et de la métrologie</td>
        <td class="dt-center">4</td>
        <td class="dt-center">Exercice</td>
      </tr>
      <tr>
        <td>Être capable de fabriquer un capteur à nano-particules en utilisant des outils de micro-électronique: synthèse chimique, assemblage et test</td>
        <td class="dt-center">4</td>
        <td class="dt-center">Salle blanche</td>
      </tr>
      <tr>
        <td>Être capable de concevoir la datasheet du capteur fabriqué</td>
        <td class="dt-center">4</td>
        <td class="dt-center">Datasheet</td>
        <td></td>
      </tr>
      <tr><td colspan="3"></td></tr>
      <tr class="sub-title">
      <td colspan="3"><a routerLink="101">Microcontrollers & Open Source Hardware &nbsp;<fa name="external-link"></fa></a></td>
      </tr>
      <tr>
        <td>Comprendre l'architecture des microcontrôleurs et comment les utiliser</td>
        <td class="dt-center">4</td>
        <td class="dt-center">Portfolio</td>
      </tr>
      <tr>
        <td>Être capable de concevoir la chaîne d'acquisition (capteur, conditionneur, microcontrôleur) en fonction de l'application</td>
        <td class="dt-center">4</td>
        <td class="dt-center">Portfolio</td>
      </tr>
      <tr>
        <td>Être capable de concevoir le circuit électronique du conditionnement du signal du capteur (conception et simulation)</td>
        <td class="dt-center">4</td>
        <td class="dt-center">Portfolio</td>
      </tr>
      <tr>
        <td>Être capable de concevoir un shield pour interfacer le capteur de gaz</td>
        <td class="dt-center">4</td>
        <td class="dt-center">Portfolio</td>
      </tr>
      <tr>
        <td>Être capable de combiner tous les composants mentionnés ci-dessus dans un dispositif intelligent</td>
        <td class="dt-center">3</td>
        <td class="dt-center">Portfolio</td>
      </tr>
      <tr>
        <td>Etre capable de concevoir le logiciel nécessaire à l'utilisation du capteur de gaz et son IHM</td>
        <td class="dt-center">4</td>
        <td class="dt-center">Portfolio</td>
      </tr>
    </tbody>
  </table>
</div>