<div class="container mt-5 mb-5">
  <h2><fa name="database"></fa>&nbsp; Analysis & Data processing</h2>
  <hr>
  <table datatable [dtOptions]="dtOptions" class="row-border stripe hover">
    <thead>
      <tr>
        <th>Skills</th>
        <th>Level</th>
        <th>Evaluation</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      <tr class="sub-title">
        <td>Software Engineering</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Define the different phases in software development</td>
        <td>3</td>
        <td>Project</td>
        <td></td>
      </tr>
      <tr>
        <td>Know the different project management methods</td>
        <td>3</td>
        <td>Project</td>
        <td></td>
      </tr>
      <tr>
        <td>Apply one of these methods a project</td>
        <td>3</td>
        <td>Project</td>
        <td></td>
      </tr>
      <tr class="sub-title">
        <td>Processing Semantic Data</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Design and understand a model for an application</td>
        <td>3</td>
        <td>TP Report</td>
        <td></td>
      </tr>
      <tr>
        <td>Know how to infer new knowlegde from a knowledge base</td>
        <td>3</td>
        <td>TP Report</td>
        <td></td>
      </tr>
      <tr>
        <td>Be able to enrich data with semantic meta-data</td>
        <td>3</td>
        <td>TP Report</td>
        <td></td>
      </tr>
      <tr class="sub-title">
        <td>Data Processing and Analysis: Big Data</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Know how to explore and represent data sets</td>
        <td>3</td>
        <td>TP Report</td>
        <td></td>
      </tr>
      <tr>
        <td>Master R</td>
        <td>3</td>
        <td>TP Report</td>
        <td></td>
      </tr>
      <tr>
        <td>Master complexity associated to statistical data processing and know the techniques to be used to minimise them</td>
        <td>3</td>
        <td>TP Report</td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>