<div class="container mt-5 mb-5">
  <h2><fa name="database"></fa>&nbsp; Analyse et Traitement de données</h2>
  <hr>
  <table datatable [dtOptions]="dtOptions" class="row-border stripe hover">
    <thead>
      <tr>
        <th>Compétence</th>
        <th>Niveau</th>
        <th>Évaluation</th>
      </tr>
    </thead>
    <tbody>
      <tr class="sub-title">
        <td colspan="3"><a routerLink="400">Ingénierie logicielle &nbsp;<fa name="external-link"></fa></a></td>
      </tr>
      <tr>
        <td>Définir les différentes phases du développement logiciel</td>
        <td class="dt-center">3</td>
        <td class="dt-center" rowspan="3">Projet innovant<br>Projet de gestion des salles de l'INSA<br>Rapport méthodes de management<br>Ingénierie Logicielle</td>
      </tr>
      <tr>
        <td>Connaître les différentes méthodes de management de projet</td>
        <td class="dt-center">3</td>
      </tr>
      <tr>
        <td>Appliquer l'une de ces méthodes à un projet</td>
        <td class="dt-center">3</td>
      </tr>
      <tr><td colspan="3"></td></tr>
      <tr class="sub-title">
        <td colspan="3"><a routerLink="401">Traitement de données sémantiques &nbsp;<fa name="external-link"></fa></a></td>
      </tr>
      <tr>
        <td>Concevoir et comprendre un modèle pour une application</td>
        <td class="dt-center">3</td>
        <td class="dt-center" rowspan="3">Rapport de TP Web Sémantique<br>Traitement de données sémantiques</td>
      </tr>
      <tr>
        <td>Savoir comment déduire de nouvelles connaissances à partir d'une base de connaissances</td>
        <td class="dt-center">3</td>
      </tr>
      <tr>
        <td>Être capable d'enrichir des données avec des métadonnées sémantiques</td>
        <td class="dt-center">3</td>
      </tr>
      <tr><td colspan="3"></td></tr>
      <tr class="sub-title">
        <td colspan="3"><a routerLink="402">Traitement de données et analyse : Big Data &nbsp;<fa name="external-link"></fa></a></td>
      </tr>
      <tr>
        <td>Savoir comment explorer et représenter un ensemble de données</td>
        <td class="dt-center">3</td>
        <td class="dt-center" rowspan="3">Étude du dataset de FIFA18<br>Big Data</td>
      </tr>
      <tr>
        <td>Maîtriser R</td>
        <td class="dt-center">3</td>
      </tr>
      <tr>
        <td>Maîtriser la complexité associée au traitement de données statistiques et connaître les techniques utilisées pour les minimiser</td>
        <td class="dt-center">3</td>
      </tr>
    </tbody>
  </table>
  <div class="row mt-3">
    <div class="col">
      <i>Légende :</i>
      <ul>
        <li><b>1</b> = niveau d'application (suivre des instructions ou méthodes)</li>
        <li><b>2</b> = niveau d'analyse (amélioration ou optimisation des solutions ou propositions)</li>
        <li><b>3</b> = niveau de maîtrise (conception de programmes ou définition de cahier des charges)</li>
        <li><b>4</b> = niveau d'expertise (définition de directives ou de stratégies)</li>
      </ul>
    </div>
  </div>
</div>