<div class="container mt-5">
  <div class="col-xs-12 text-center">
    <div class="section-title">
      <h2>Portfolio</h2>
      <hr>
    </div>
  </div>
  <div class="col-xs-12 text-center">
    <p>
    This Portfolio gathers all the projects and works I consider relevant to expose on this website.
    <br>It is divided in three sections: Highschool, INSA 1A - 4A and INSA 5A PTP ISS. 
    <br><br>The <b>Highschool</b> section deals with 
    the two main projects I realized during my Engineering Science course.
    <br>The <b>INSA 1A - 4A</b> shows some of the big works I realized during my course at INSA: electronics design offices, programming
    projects... 
    <br>Finally, the last but not least section <b>INSA 5A PTP ISS</b>, recovers all the skills I have developed and learnt
    during my last semester at INSA, related to the Internet of Things field and connected objects. This last part works as the evaluation
    for this speciality.
    </p>
  </div>
  <div class="row mt-5">
    <div class="col-lg-4 text-center">
      <div class="wrap">
        <a routerLink="portfolio"><img src="./assets/images/highschool_computer.svg" alt="highschool portfolio"></a>
      </div>
      <h3>Highschool</h3>
    </div>
    <div class="col-lg-4 text-center">
      <div class="wrap">
        <a routerLink="portfolio"><img src="./assets/images/insa_computer.svg" alt="insa portfolio"></a>
      </div>
      <h3>INSA 1A-4A</h3>
    </div>
    <div class="col-lg-4 text-center">
      <div class="wrap">
        <a routerLink="ptp-iss"><img src="./assets/images/iss_computer.svg" alt="insa ptp iss portfolio"></a>
      </div>
      <h3>INSA 5A<br><b>PTP ISS</b></h3>
    </div>
  </div>
</div>