<div class="profile-head shadow-sm">
  <div class="container pt-2 pb-2">
    <div class="row align-items-center">
      <div class="col-lg-1 col-md-1 col-xs-12 p-3">
        <img src="./assets/images/boss.png" class="rounded-circle img-fluid img-thumbnail">
      </div>
      <div class="col-10">
        <h3><b>Ingénieur Automatique Électronique</b> -- INSA Toulouse</h3>
        <h4>Développeur Systèmes Embarqués & Internet of Things</h4>
      </div>
    </div>
  </div>
</div>
<br>

<div class="container">
  <div class="row">
    <section class="col-lg-8">
      <h2 id="experience" class="pt-3"><fa name="briefcase"></fa>&nbsp; Expériences</h2>
      <ul class="list-group mt-3 mb-3">
        <app-experience *ngFor="let experience of experiences;"
                        [id]="experience.id"
                        [experienceImg]="experience.img"
                        [experienceTitle]="experience.title"
                        [experienceDate]="experience.date"
                        [experienceDescription]="experience.description">
        </app-experience>
      </ul>
      <hr>
      <h2 id="education"><fa name="graduation-cap"></fa>&nbsp; Formation</h2>
      <ul class="list-group mt-3 mb-3">
        <app-education  *ngFor="let education of educations;"
                        [educationImg]="education.img"
                        [educationTitle]="education.title"
                        [educationDate]="education.date"
                        [educationDescription]="education.description">
        </app-education>
      </ul>
    </section>
    <section id="skills" class="col-lg-4 pt-3">
      <h3><fa name="code-fork"></fa>&nbsp; Compétences</h3>
      <div class="pl-3 border-left">
        <ul class="list-group mt-3 mb-3">
          <app-software *ngFor="let software of softwares;"
                        [id]="software.id"
                        [color]="software.color"
                        [softwareName]="software.name"
                        [softwareLevel]="software.level"
                        [softwareExamples]="software.examples">
          </app-software>
        </ul>
      </div>
    </section>
  </div>
  <hr>
  <div class="row pt-3">
    <section id="hobbies">
      <h2><fa name="soccer-ball-o"></fa>&nbsp; Centres d'intérêts</h2>
    </section>
  </div>
</div>