<div class="profile-head shadow-sm">
  <div class="container pt-2 pb-2">
    <div class="row align-items-center">
      <div class="col-lg-1 col-md-1 col-xs-12 p-2">
        <img src="./assets/images/moi.jpg" class="rounded-circle img-fluid">
      </div>
      <div class="col-10 mt-2">
        <h3><b>Engineer in Automation, Electronics</b> -- <span class="insa">INSA</span> Toulouse</h3>
        <h4>Embedded Systems & Internet of Things developer</h4>
      </div>
    </div>
  </div>
</div>
<br>

<div class="container">
  <div class="row">
    
    <div class="col-lg-9 mt-3">
      <section id="experience" class="pr-3">
        <h2><fa name="briefcase"></fa>&nbsp; Experiences</h2>
        <p>These experiences represents in particular all the <b>internships</b> I have done during my education at INSA,
        but also the participation at the NXP Cup. It was always great moments, with a large amount of new knowledge and skills learnt.
        You can view in more details each one of them, with the different <b>keys notions</b> related.
        </p>
        <ul class="list-group mt-3 mb-3">
          <app-experience *ngFor="let experience of experiences;"
                          [id]="experience.id"
                          [experienceImg]="experience.img"
                          [experienceTitle]="experience.title"
                          [experienceDate]="experience.date"
                          [experienceDescription]="experience.description">
          </app-experience>
        </ul>
      </section>
      <hr>
      <section id="education" class="pr-3 pt-2">
        <h2><fa name="graduation-cap"></fa>&nbsp; Education</h2>
        <p>My entire education was turned towards <b>science and engineering</b>. I realized an Engineering Science course
        in Highschool, with <b>2 majors projects</b> which gave me the 'taste' for embedded systems and coding. I realized then a complete
        engineer degree at INSA, with an Erasmus semester in Ireland which gave me great skills in <b>English</b>.
        </p>
        <ul class="list-group mt-3 mb-3">
          <app-education  *ngFor="let education of educations;"
                          [educationImg]="education.img"
                          [educationTitle]="education.title"
                          [educationDate]="education.date"
                          [educationDescription]="education.description">
          </app-education>
        </ul>
      </section>
      <hr>
      <section id="interests" class="pr-3 pt-2">
        <h2><fa name="android"></fa>&nbsp; Interests</h2>
        <p>I chose to put in this section all the works I have done outside class, and something which is very important for me: f<b>ootball</b>.
        The main works are <b>coding</b> ones, with the creation of <b>Android games</b> I have developed with my brother, and available on the Google Playstore.</p>
        <ul class="list-group mt-3 mb-3">
          <app-interest *ngFor="let interest of interests;"
                          [iid]="interest.iid"
                          [interestImg]="interest.img"
                          [interestTitle]="interest.title"
                          [interestDate]="interest.date"
                          [interestDescription]="interest.description">
          </app-interest>
        </ul>
      </section>
    </div>
    <div class="col-lg-3 mt-3 border-left skills">
      <section id="skills" class="pb-3">
        <h2><fa name="compass" animation="spin"></fa>&nbsp; Skills</h2>
        <div class="pl-3">
          <ul class="list-group mt-3 mb-3">
            <app-software *ngFor="let software of softwares;"
                          [id]="software.id"
                          [color]="software.color"
                          [softwareName]="software.name"
                          [softwareLevel]="software.level"
                          [softwareExamples]="software.examples">
            </app-software>
          </ul>
          <h5><fa name="wrench"></fa>&nbsp; IDE & Development</h5>
          <app-skill-tag  *ngFor="let devTag of devTags;"
                          [color]="devTag.color"
                          [skillName]="devTag.name">
          </app-skill-tag>
          <h5 class="pt-3"><fa name="cog"></fa>&nbsp; Others</h5>
          <app-skill-tag  *ngFor="let otherTag of otherTags;"
                          [color]="otherTag.color"
                          [skillName]="otherTag.name">
          </app-skill-tag>
        </div>
      </section>
      <hr>
      <section id="languages" class="pt-2">
        <h2><fa name="globe" animation="spin"></fa>&nbsp; Languages</h2>
        <div class="pl-3 skills">
          <ul class="list-group mt-3 mb-3">
            <app-language *ngFor="let language of languages;"
                          [id]="language.id"
                          [icon]="language.icon"
                          [color]="language.color"
                          [languageName]="language.name"
                          [languageWRLevel]="language.wr_level"
                          [languageSLevel]="language.s_level"
                          [languageDegree]="language.degree"
                          [languageLevel]="language.level"
                          [languageExamples]="language.examples">
            </app-language>
          </ul>
        </div>
      </section>
      <hr>
      <section id="aptitudes" class="pt-2">
        <h2><fa name="crosshairs" animation="spin"></fa>&nbsp; Aptitudes</h2>
        <div class="pl-3 skills">
          <ul class="list-group mt-3 mb-3">
            <li class="tag apt text-center mb-2" *ngFor="let aptitude of aptitudes;">
              {{ aptitude }} 
            </li>
          </ul>
        </div>
      </section>
    </div>
  </div>
</div>