h2, h3 {
  font-variant: small-caps;
}

h5 {
  font-weight: bold;
}

.tag {
  height: 20px;
  font-family: 'Product Sans';
}
.tag-content {
  color: white !important;
  padding: 8px 6px 0px;
  text-align: left;
}

.profile-head {
  background-color: #dfe8f1;
}

.bg-progress {
  background-color: #386b8d;
}

li {
  list-style: none;
}

span.mini-project {
  font-size: 75%;
}

a.arrow {
  cursor: pointer;
  &:hover {
    color: gray !important;
  };
}

.border-left {
  position: relative;
  border-left: solid 1px gray !important;
}

.dot {
  left: -6px;
  top: 8px;
  position: absolute;
  background-color: #1e2c32;
  width: 10px;
  height: 10px;
}

.gray {
  filter: grayscale(100%);
}

.date {
  font-weight: 200;
}