<div class="profile-head shadow-sm">
  <div class="container pt-2 pb-2">
    <div class="row align-items-center">
      <div class="col-lg-1 col-md-1 col-xs-12 p-2">
        <img src="./assets/images/moi.jpg" class="rounded-circle img-fluid">
      </div>
      <div class="col-10 mt-2">
        <h3><b>Ingénieur Automatique, Électronique</b> -- <span class="insa">INSA</span> Toulouse</h3>
        <h4>Systèmes Embarqués & Internet of Things (IoT)</h4>
      </div>
    </div>
  </div>
</div>
<br>

<div class="container">
  <div class="row">
    
    <div class="col-lg-9 mt-3">
      <section id="experience" class="pr-3">
        <h2><fa name="briefcase"></fa>&nbsp; Expériences</h2>
        <p>Ces expériences représentent en particulier tous les <b>stages</b> que j'ai pu faire durant ma formation à l'INSA,
        mais aussi les projets importants de 4ème et 5ème année. Cela a toujours été de bons moments avec de très nombreuses 
        compétences assimilées et accumulées dans mon profil. Vous pouvez voir en détails chacune d'elle, avec les différentes <b>notions clefs</b> liées.
        </p>
        <ul class="list-group mt-3 mb-3">
          <app-experience *ngFor="let experience of experiences;"
                          [id]="experience.id"
                          [experienceImg]="experience.img"
                          [experienceTitle]="experience.title"
                          [experienceDate]="experience.date"
                          [experienceDescription]="experience.description">
          </app-experience>
        </ul>
      </section>
      <hr>
      <section id="education" class="pr-3 pt-2">
        <h2><fa name="graduation-cap"></fa>&nbsp; Formation</h2>
        <p>L'ensemble de ma formation a été orientée vers les <b>sciences et l'ingénierie</b>. J'ai réalisé la spécialité Sciences de l'Ingénieur 
        au lycée, avec 2 projets majeurs qui m'ont donné l'envie de travailler plus tard dans ce secteur dans les <b>systèmes embarqués et la programmation</b>.
        J'ai alors réalisé un cursus complet à l'INSA, entrecoupé d'un semestre d'échange Erasmus en Irlande qui m'a permis d'avoir aujourd'hui de solides compétences en <b>anglais</b>.
        </p>
        <ul class="list-group mt-3 mb-3">
          <app-education  *ngFor="let education of educations;"
                          [educationImg]="education.img"
                          [educationTitle]="education.title"
                          [educationDate]="education.date"
                          [educationDescription]="education.description">
          </app-education>
        </ul>
      </section>
      <hr>
      <section id="interests" class="pr-3 pt-2">
        <h2><fa name="android"></fa>&nbsp; Centres d'intérêts</h2>
        <p>J'ai choisi de mettre dans cette section tous mes travaux et projets réalisés <b>en dehors des cours</b>, et la partie <b>"football"</b> qui est très importante pour moi.
        La plupart de ces projets sont du domaine de la <b>programmation</b>, avec notamment la création de <b>jeux Android</b> que j'ai développé avec mon frère, et disponibles sur le Google Playstore.
        </p>
        <ul class="list-group mt-3 mb-3">
          <app-interest *ngFor="let interest of interests;"
                          [iid]="interest.iid"
                          [interestImg]="interest.img"
                          [interestTitle]="interest.title"
                          [interestDate]="interest.date"
                          [interestDescription]="interest.description">
          </app-interest>
        </ul>
      </section>
    </div>
    <div class="col-lg-3 mt-3 border-left skills">
      <section id="skills" class="pb-3">
        <h2><fa name="compass" animation="spin"></fa>&nbsp; Compétences</h2>
        <div class="pl-3">
          <ul class="list-group mt-3 mb-3">
            <app-software *ngFor="let software of softwares;"
                          [id]="software.id"
                          [color]="software.color"
                          [softwareName]="software.name"
                          [softwareLevel]="software.level"
                          [softwareExamples]="software.examples">
            </app-software>
          </ul>
          <h5><fa name="wrench"></fa>&nbsp; IDE & Développement</h5>
          <app-skill-tag  *ngFor="let devTag of devTags;"
                          [color]="devTag.color"
                          [skillName]="devTag.name">
          </app-skill-tag>
          <h5 class="pt-3"><fa name="cog"></fa>&nbsp; Autres</h5>
          <app-skill-tag  *ngFor="let otherTag of otherTags;"
                          [color]="otherTag.color"
                          [skillName]="otherTag.name">
          </app-skill-tag>
        </div>
      </section>
      <hr>
      <section id="languages" class="pt-2">
        <h2><fa name="globe" animation="spin"></fa>&nbsp; Langues</h2>
        <div class="pl-3 skills">
          <ul class="list-group mt-3 mb-3">
            <app-language *ngFor="let language of languages;"
                          [id]="language.id"
                          [icon]="language.icon"
                          [color]="language.color"
                          [languageName]="language.name"
                          [languageWRLevel]="language.wr_level"
                          [languageSLevel]="language.s_level"
                          [languageDegree]="language.degree"
                          [languageLevel]="language.level"
                          [languageExamples]="language.examples">
            </app-language>
          </ul>
        </div>
      </section>
      <hr>
      <section id="aptitudes" class="pt-2">
        <h2><fa name="crosshairs" animation="spin"></fa>&nbsp; Aptitudes</h2>
        <div class="pl-3 skills">
          <ul class="list-group mt-3 mb-3">
            <li class="tag apt text-center mb-2" *ngFor="let aptitude of aptitudes;">
              {{ aptitude }} 
            </li>
          </ul>
        </div>
      </section>
    </div>
  </div>
</div>