<div class="container mt-5 mb-5">
  <h2><fa name="sitemap"></fa>&nbsp; Middleware & Services</h2>
  <hr>
  <table datatable [dtOptions]="dtOptions" class="row-border stripe hover">
    <thead>
      <tr>
        <th>Skills</th>
        <th>Level</th>
        <th>Evaluation</th>
      </tr>
    </thead>
    <tbody>
      <tr class="sub-title">
        <td colspan="3"><a routerLink="100">Service Oriented Architecture &nbsp;<fa name="external-link"></fa></a></td>
      </tr>
      <tr>
        <td>Know how to define a Service Oriented Architecture</td>
        <td class="dt-center">4</td>
        <td rowspan="5" class="dt-center"><a routerLink="./rest-project">Project</a></td>
      </tr>
      <tr>
        <td>Deploy an SOA with web services</td>
        <td class="dt-center">4</td>
      </tr>
      <tr>
        <td>Deploy and configure an SOA using SOAP</td>
        <td class="dt-center">4</td>
      </tr>
      <tr>
        <td>Deploy and configure an SOA using REST</td>
        <td class="dt-center">4</td>
      </tr>
      <tr>
        <td>Integrate a process manager in an SOA</td>
        <td class="dt-center">4</td>
      </tr>
      <tr><td colspan="3"></td></tr>
      <tr class="sub-title">
        <td colspan="3">Middleware for the Internet of Things</td>
      </tr>
      <tr>
        <td>Know how to situate the main standards for the Internet of Things</td>
        <td class="dt-center">4</td>
        <td rowspan="5" class="dt-center"><a routerLink="./rest-project">TP Report</a></td>
      </tr>
      <tr>
        <td>Deploy an architecture compliant to an IoT standard and implement a sensor network</td>
        <td class="dt-center">4</td>
      </tr>
      <tr>
        <td>Deploy and configure and IoT architecture using OM2M</td>
        <td class="dt-center">4</td>
      </tr>
      <tr>
        <td>Interact with the different resources of the architecture using REST services</td>
        <td class="dt-center">4</td>
      </tr>
      <tr>
        <td>Integrate a new technology into the deployed architecture</td>
        <td class="dt-center">4</td>
      </tr>
      <tr><td colspan="3"></td></tr>
      <tr class="sub-title">
        <td colspan="3">Adaptability: Cloud and Autonomic Computing</td>
      </tr>
      <tr>
        <td>Understand the concept of cloud computing</td>
        <td class="dt-center">3</td>
        <td rowspan="5" class="dt-center"><a routerLink="./rest-project">TP Report</a></td>
      </tr>
      <tr>
        <td>Use a IaaS-type cloud service</td>
        <td class="dt-center">3</td>
      </tr>
      <tr>
        <td>Deploy and adapt a cloud-based platform for IoT with autonomic computing</td>
        <td class="dt-center">3</td>
      </tr>
      <tr>
        <td>Deploy a PaaS based on OM2M</td>
        <td class="dt-center">3</td>
      </tr>
      <tr>
        <td>Convert a PaaS into an autonomic system</td>
        <td class="dt-center">3</td>
      </tr>
    </tbody>
  </table>
</div>