<div class="container mt-5 mb-5">
  <h2><fa name="sitemap"></fa>&nbsp; Intergiciel & Services</h2>
  <hr>
  <table datatable [dtOptions]="dtOptions" class="row-border stripe hover">
    <thead>
      <tr>
        <th>Compétence</th>
        <th>Niveau</th>
        <th>Évaluation</th>
      </tr>
    </thead>
    <tbody>
      <tr class="sub-title">
        <td colspan="3"><a routerLink="300">Architecture de Service &nbsp;<fa name="external-link"></fa></a></td>
      </tr>
      <tr>
        <td>Savoir définir une Architecture Orientée Services (SOA)</td>
        <td class="dt-center">4</td>
        <td rowspan="5" class="dt-center">Project</td>
      </tr>
      <tr>
        <td>Déployer une SOA avec des services web</td>
        <td class="dt-center">4</td>
      </tr>
      <tr>
        <td>Déployer et configurer une SOA utilisant SOAP</td>
        <td class="dt-center">4</td>
      </tr>
      <tr>
        <td>Déployer et configurer une SOA utilisant REST</td>
        <td class="dt-center">4</td>
      </tr>
      <tr>
        <td>Intégrer un gestionnaire de processus dans une SOA</td>
        <td class="dt-center">4</td>
      </tr>
      <tr><td colspan="3"></td></tr>
      <tr class="sub-title">
        <td colspan="3"><a routerLink="301">Intergiciel pour l'Internet des objets &nbsp;<fa name="external-link"></fa></a></td>
      </tr>
      <tr>
        <td>Savoir comment situer les principaux standards de l'IoT</td>
        <td class="dt-center">4</td>
        <td rowspan="5" class="dt-center">TP Report</td>
      </tr>
      <tr>
        <td>Déployer une architecture conforme à un standard de l'IoT et implémenter un réseau de capteurs</td>
        <td class="dt-center">4</td>
      </tr>
      <tr>
        <td>Déployer et configurer une architecture IoT utilisant OM2M</td>
        <td class="dt-center">4</td>
      </tr>
      <tr>
        <td>Intéragir avec les différentes ressources de l'architecture en utilisant des services REST</td>
        <td class="dt-center">4</td>
      </tr>
      <tr>
        <td>Intégrer une nouvelle technologie dans l'architecture déployée</td>
        <td class="dt-center">4</td>
      </tr>
      <tr><td colspan="3"></td></tr>
      <tr class="sub-title">
        <td colspan="3"><a routerLink="302">Adaptabilité: cloud et gestion autonomique &nbsp;<fa name="external-link"></fa></a></td>
      </tr>
      <tr>
        <td>Comprendre le concept de cloud informatique</td>
        <td class="dt-center">3</td>
        <td rowspan="5" class="dt-center">TP Report</td>
      </tr>
      <tr>
        <td>Utiliser un service cloud du type IaaS</td>
        <td class="dt-center">3</td>
      </tr>
      <tr>
        <td>Déployer et adapter une plateforme cloud pour l'IoT avec de l'informatique autonomique</td>
        <td class="dt-center">3</td>
      </tr>
      <tr>
        <td>Déployer un PaaS basé sur OM2M</td>
        <td class="dt-center">3</td>
      </tr>
      <tr>
        <td>Convertir un PaaS en un système autonomique</td>
        <td class="dt-center">3</td>
      </tr>
    </tbody>
  </table>
</div>