<li class="mb-3">
  <div class="row align-items-center">
    <div class="col-4 col-md-3 col-lg-2 text-center">
      <img class="d-flex flex-wrap img-fluid" src="./assets/images/{{interestImg}}">
    </div>
    <div class="col-8 col-md-9 col-lg-10 border-left">
      <div class="dot rounded-circle"></div>
      <h5>{{ interestTitle }}</h5>
      <span class="date">{{ interestDate }}</span><br>
      <span>{{ interestDescription }}</span><br>
      <a routerLink="i/{{iid}}">Détails »</a>
    </div>
  </div>
</li>