<div class="container mt-5 mb-5">
  <h2><fa name="lightbulb-o"></fa>&nbsp; Innovative Project</h2>
  <hr>
  <table datatable [dtOptions]="dtOptions" class="row-border stripe hover">
    <thead>
      <tr>
        <th>Skills</th>
        <th>Level</th>
        <th>Evaluation</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Analyse a real-life problem</td>
        <td>4</td>
        <td>Report/Presentation</td>
        <td></td>
      </tr>
      <tr>
        <td>Suggest a technological solution to a problem</td>
        <td>4</td>
        <td>Report/Presentation</td>
        <td></td>
      </tr>
      <tr>
        <td>Implement a prototype to solve the problem</td>
        <td>4</td>
        <td>Prototype</td>
        <td></td>
      </tr>
      <tr>
        <td>Present and debate (in English) the technical choice made</td>
        <td>4</td>
        <td>Presentation</td>
        <td></td>
      </tr>
      <tr>
        <td>Produce a report (in English) for the developed project </td>
        <td>4</td>
        <td>Report</td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>