@import "../../../assets/variables.scss";

.navbar {
  font-family: 'Product Sans';
  background-color: #21343b;
}

.nav-link {
  font-size: 1.1em;
  cursor: pointer;

  &.bar {
    cursor: default;
  }
}