h2, h3, p {
  font-family: 'Product Sans';
}

.introHome {
  background-image: url("../../assets/images/elec.jpg");
  background-attachment: fixed;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.introHome .container {
  padding-top: 20% !important;
  z-index: 1;
}

.introHome .container {
  h1, h2, h3, h4 {
      font-family: 'Product Sans';
      color: white;
      font-weight: 200;
  }
}

.arrow a {
  cursor: pointer;
  z-index: 100;
  left: 49%;
  font-size: 250%;
  bottom: 15px;
  position: absolute;
  color: white;
  animation-name: floating;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

  &:hover {
      color: gray;
  }
}
@keyframes floating {
  from { transform: translate(0,  0px); }
  65%  { transform: translate(0, 5px); }
  to   { transform: translate(0, -0px); }    
}

h4 {
  font-variant: small-caps;
}

@media (min-width: 768px) {
  .line-1 {
      float: left;
      width: 25em;
      border-right: 2px solid rgba(255,255,255,.75);
      white-space: nowrap;
      overflow: hidden;
      transform: translateY(-50%);    
  }

  /* Animation */
  .anim-typewriter {
    animation: typewriter 3s steps(56) 750ms 1 normal both,
              blinkTextCursor 750ms steps(56) infinite normal;
    }

  @keyframes typewriter {
    from { width: 0; }
    to { width: 25em; }
  }
  @keyframes blinkTextCursor {
    from { border-right-color: rgba(255,255,255,.75); }
    to { border-right-color: transparent;}
  }
}

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.hello {
  color: #0082b9;
  font-weight: bold;
  font-size: 150%; 
}
.intro-text {
  margin-bottom: 50px;
  font-weight: 350;
  font-size: 130%; 
  color: rgb(90, 90, 90);
}

.skills {
  margin-top: 50px;
}

.description {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
}

.section-title hr {
  background-color: #1e2c32;
  border: 0 none;
  height: 6px;
  width: 70px;
  margin: 30px auto !important;
}

.section-title.light {
  h2 {
      color: white;
  }
  hr {
      background-color: white;
  }
}

.btn-secondary {
  background-color: #1e2c32;
}

.whileone {
  background-color: #00638d;
  background-image: url("../../assets/images/white_background.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
}
.portfolio {
  height: 40em;
  background-color: white;
}

.transparent-top {
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  height: 3em;
  background-color: transparent !important;
}
.empty-top {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: white;
}
.transparent-bottom {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  height: 3em;
  background-color: transparent;
}
.empty-bottom {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: white;
}