<section class="introHome">
  <div class="arrow col-xs-12 text-center">
    <a (click)="scrollToElement(target)"><fa name="chevron-circle-down"></fa></a>
  </div>
  <particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>
  <div class="container">
    <h1><fa name="code"></fa> Elie Taillardat - Ingénieur INSA</h1>
    <br>
    <h3><fa name="graduation-cap"></fa>&nbsp; <b>G</b>énie <b>É</b>lectronique & <b>I</b>nformatique</h3>
    <br>
    <h4 class="line-1 anim-typewriter">Profil • Projets • Expériences • Créations • Portfolio</h4>
  </div>
</section>

<div class="container mt-5" #target>
  <div class="col-12 text-center">
    <h2><span class="hello">HELLO! </span>
    BINVENUE SUR MON ESPACE WEB</h2>
    <p class="intro-text">J'ai décidé de rassembler sur cet espace web tous les travaux et projets que j'ai pu réaliser durant mon cursus,
    notamment à l'INSA Toulouse et pour mon dernier semstre d'études en PTP "Innovative Smart Systems".
    Vous pourrez en apprendre plus sur moi, mon profil et mes premières expériences dans le monde professionnel lors de fifférents stages.
    <br><b>Enjoy your tour!</b></p>
    <hr>
  </div>
</div>

<section class="description mt-5 mb-5">
  <div class="container marketing">
    <div class="col-sm-12 text-center">
      <div class="section-title">
        <h2>Un Profil Polyvalent</h2>
        <hr>
      </div>
    </div>
    <div class="row skills">
      <div class="col-lg-4">
        <div class="wrap">
          <img class="rounded-circle" src="./assets/images/software.svg" alt="software"/>
        </div>
        <h3>Software</h3>
        <p>La partie software de mon profil est <b>essentielle</b> et prédominante. Au fil de mes diverses <b>expériences</b> - stages à Allette Systems [Sydney],
        Beenetic Systems [Toulouse], et bientôt, la start-up Wiifor [Toulouse] - ainsi que des mes projets à WHileOne Studios, je maîtrise une <b>large palette</b>
        de langages de programmation, d'outils et de notions propices à un développement de <b>qualité</b>.
        </p>
      </div>
      <div class="col-lg-4">
        <div class="wrap">
          <img class="rounded-circle" src="./assets/images/hardware.svg" alt="hardware">
        </div>
        <h3>Hardware</h3>
        <p>Le niveau hardware est également une part très importante de mon profil. J'ai choisi d'étudier l'ingénierie <b>Automatique et Électronique</b>
        car j'aime un peu <b>toucher à tout</b>, afin d'avoir une large compréhension et à plusieurs échelles. De plus, 'soft et hard' sont fortement lié
        dans le domaine des objets connectés ou <b>Internet of Things</b>.
        </p>
      </div>
      <div class="col-lg-4">
        <div class="wrap">
          <img class="rounded-circle" src="./assets/images/football1.svg" alt="sport football">
        </div>
        <h3>Sport</h3>
        <p>Le sport est un élement essentiel de ma vie. J'ai débuté l'INSA avec le statut <b>Sportif de Haut Niveau assimilé en Football</b>,
        et depuis mon enfance, j'ai pratiqué du sport (football, judo...) à <b>haute fréquence</b> et avec bon niveau d'exigences.
        Cela m'a permis d'assimiler des notions telles que la rigueur, l'abnégation et l'esprit d'équipe, par mon, expérience de <b>capitaine</b>.
        </p>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="text-center">
        <p><a class="btn btn-secondary" routerLink="/profile" role="button">Plus de détails »</a></p>
      </div>
    </div>
  </div>
</section>

<!--<section class="whileone mt-5">
  <div class="container marketing">
    <div class="row">
      <div class="col-lg-1 empty-top"></div>
      <div class="col-lg-1 transparent-top"></div>
      <div class="col-lg-1 empty-top"></div>
      <div class="col-lg-9 transparent-top"></div>
    </div>
    <div class="col-xs-12 text-center mt-5">
      <div class="section-title light">
        <h2>WhileOne Studios</h2>
        <hr>
      </div>
    </div>
    <div class="row skills">
      <div class="col-lg-4">
      </div>
      <div class="col-lg-4">
        <img class="rounded-circle" src="../../assets/images/while_one.png" width="200" height="200" alt="Generic placeholder image"/>
      </div>
      <div class="col-lg-4">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9 transparent-bottom"></div>
      <div class="col-lg-1 empty-bottom"></div>
      <div class="col-lg-1 transparent-bottom"></div>
      <div class="col-lg-1 empty-bottom"></div>
    </div>
  </div> 
</section>

<section class="portfolio">
  
</section>-->
