<section class="introHome">
  <div class="arrow col-xs-12 text-center">
    <a (click)="scrollToElement(target)"><fa name="chevron-circle-down"></fa></a>
  </div>
  <particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>
  <div class="container">
    <h1><fa name="code"></fa> Elie Taillardat - INSA Engineer</h1>
    <br>
    <h3><fa name="graduation-cap"></fa>&nbsp; <b>E</b>lectronic & <b>C</b>omputer Science Department</h3>
    <br>
    <h4 class="line-1 anim-typewriter">Profile • Projects • Experiences • Creations • Portfolio</h4>
  </div>
</section>

<div class="container mt-5" #target>
  <div class="col-xs-12 text-center">
    <h2><span class="hello">HELLO! </span>
    WELCOME TO MY WEB SPACE</h2>
    <p class="intro-text">I decided to gather all my works and projects together on this website that I realized during my education
    and by way of my own initiatives. You will be able to know more about me, my profile and my experiences in the professional world.
    <br><b>Enjoy your tour!</b></p>
    <hr>
  </div>
</div>

<section class="description mt-5 mb-5">
  <div class="container marketing">
    <div class="col-xs-12 text-center">
      <div class="section-title">
        <h2>Multi-skilled profile</h2>
        <hr>
      </div>
    </div>
    <div class="row skills">
      <div class="col-lg-4">
        <div class="wrap">
          <img class="rounded-circle" src="./assets/images/software.svg" alt="software"/>
        </div>
        <h3>Software</h3>
        <p>The Software part of my profile is <b>essential</b> and predominant. Across all my <b>experiences</b> - internship at Allette Systems [Sydney] 
        and Beenetic Systems [Toulouse], and sooner, at Wiifor [Toulouse] - & projects at WhileOne Studios, I master a <b>large range of programming languages and tools</b>.
        </p>
      </div>
      <div class="col-lg-4">
        <div class="wrap">
          <img class="rounded-circle" src="./assets/images/hardware.svg" alt="hardware">
        </div>
        <h3>Hardware</h3>
        <p>The Hardware part is also one important side of my profile. I chose to study <b>Automation & Electronic</b> Engineering
        because I like to <b>get into everything</b>, so that I can have a large understanding on various scales. Besides, Software
        & Hardware are strongly linked in the <b>Internet of Things</b> area.
        </p>
      </div>
      <div class="col-lg-4">
        <div class="wrap">
          <img class="rounded-circle" src="./assets/images/football1.svg" alt="sport football">
        </div>
        <h3>Sport</h3>
        <p>The Sport part in my life is essential. I entered INSA with the equivalent status of <b>High Level Athlete in Football</b>,
        and since my chilhood, I have practiced sport (football, judo, badminton...) at <b>high frequency</b> and large level of requirements.
        It teached me <b>rigour</b>, abnegation and team spirit, by my experience as a <b>captain</b>.
        </p>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="text-center">
        <p><a class="btn btn-secondary" routerLink="/profile" role="button">More details »</a></p>
      </div>
    </div>
  </div>
</section>

<!--<section class="whileone mt-5">
  <div class="container marketing">
    <div class="row">
      <div class="col-lg-1 empty-top"></div>
      <div class="col-lg-1 transparent-top"></div>
      <div class="col-lg-1 empty-top"></div>
      <div class="col-lg-9 transparent-top"></div>
    </div>
    <div class="col-xs-12 text-center mt-5">
      <div class="section-title light">
        <h2>WhileOne Studios</h2>
        <hr>
      </div>
    </div>
    <div class="row skills">
      <div class="col-lg-4">
      </div>
      <div class="col-lg-4">
        <img class="rounded-circle" src="../../assets/images/while_one.png" width="200" height="200" alt="Generic placeholder image"/>
      </div>
      <div class="col-lg-4">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9 transparent-bottom"></div>
      <div class="col-lg-1 empty-bottom"></div>
      <div class="col-lg-1 transparent-bottom"></div>
      <div class="col-lg-1 empty-bottom"></div>
    </div>
  </div> 
</section>

<section class="portfolio">
  
</section>-->
