<section class="introHome">
  <div class="arrow col-xs-12 text-center">
    <a (click)="scrollToElement(target)"><fa name="chevron-circle-down"></fa></a>
  </div>
  <particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>
  <div class="container">
    <h1><fa name="code"></fa> Elie Taillardat - Ingénieur INSA</h1>
    <br>
    <h3><fa name="graduation-cap"></fa> Département <b>G</b>énie <b>É</b>lectrique et <b>I</b>nformatique</h3>
    <br>
    <h4 class="line-1 anim-typewriter">Profil • CV • Projets • Expériences • Créations • Portfolio</h4>
  </div>
</section>

<div class="container mt-5" #target>
  <div class="col-xs-12 text-center">
    <h2><span class="hello">HELLO! </span>
    BIENVENUE SUR MON ESPACE WEB</h2>
    <p class="intro-text">J'ai décidé de regrouper dans cet espace tous les travaux et projets que j'ai pu réaliser au cours de ma formation et
    via mes propres initiatives. Vous pourrez aussi en savoir plus sur mon profil et mes expériences dans le monde professionnel.
    <br><b>Bonne visite !</b></p>
    <hr>
  </div>
</div>

<section class="description mt-5 mb-5">
  <div class="container marketing">
    <div class="col-xs-12 text-center">
      <div class="section-title">
        <h2>Un Profil Polyvalent</h2>
        <hr>
      </div>
    </div>
    <div class="row skills">
      <div class="col-lg-4">
        <div class="wrap">
          <img class="rounded-circle" src="../../assets/images/software.svg" alt="Generic placeholder image"/>
        </div>
        <h3>Software</h3>
        <p>La part logicielle de mon profil est une part <b>essentielle</b> et prédominante. De part mes <b>expériences</b> - stages à Allette Systems [Sydney] 
        et Beenetic Systems [Toulouse] - et projets à WhileOne Studios, je maîtrise une grande <b>pallette de langages et d'outils</b> de programmation.</p>
      </div>
      <div class="col-lg-4">
        <div class="wrap">
          <img class="rounded-circle" src="../../assets/images/hardware.svg" alt="Generic placeholder image">
        </div>
        <h3>Hardware</h3>
        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
      </div>
      <div class="col-lg-4">
        <div class="wrap">
          <img class="rounded-circle" src="../../assets/images/football1.svg" alt="Generic placeholder image">
        </div>
        <h3>Sport</h3>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="text-center">
        <p><a class="btn btn-secondary" routerLink="/profile" role="button">En savoir plus »</a></p>
      </div>
    </div>
  </div>
</section>

<!--<section class="whileone mt-5">
  <div class="container marketing">
    <div class="row">
      <div class="col-lg-1 empty-top"></div>
      <div class="col-lg-1 transparent-top"></div>
      <div class="col-lg-1 empty-top"></div>
      <div class="col-lg-9 transparent-top"></div>
    </div>
    <div class="col-xs-12 text-center mt-5">
      <div class="section-title light">
        <h2>WhileOne Studios</h2>
        <hr>
      </div>
    </div>
    <div class="row skills">
      <div class="col-lg-4">
      </div>
      <div class="col-lg-4">
        <img class="rounded-circle" src="../../assets/images/while_one.png" width="200" height="200" alt="Generic placeholder image"/>
      </div>
      <div class="col-lg-4">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9 transparent-bottom"></div>
      <div class="col-lg-1 empty-bottom"></div>
      <div class="col-lg-1 transparent-bottom"></div>
      <div class="col-lg-1 empty-bottom"></div>
    </div>
  </div> 
</section>

<section class="portfolio">
  
</section>-->
