<div class="navbar navbar-expand-lg shadow-sm">
  <div class="container">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <div class="row justifiy-content-center">
        <img src="./assets/images/iss.png" width="60" height="42" alt="iss logo">
        <li class="nav-item">
          <a class="nav-link title" link="#experience">INSA 5A PTP ISS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link scroll" link="#education"><fa name="microchip"></fa>&nbsp; Smart Devices</a>
        </li>
        <li class="nav-link bar">|<li>
        <li class="nav-item">
          <a class="nav-link scroll" link="#skills"><fa name="wifi"></fa>&nbsp; Communication</a>
        </li>
        <li class="nav-link bar">|<li>
        <li class="nav-item">
          <a class="nav-link scroll" link="#languages"><fa name="database"></fa>&nbsp; Analysis & Data processing</a>
        </li>
        <li class="nav-link bar">|<li>
        <li class="nav-item">
        <a class="nav-link scroll" link="#languages"><fa name="sitemap"></fa>&nbsp; Middleware & Services</a>
        </li>
        <li class="nav-link bar">|<li>
        <li class="nav-item">
          <a class="nav-link scroll" link="#languages"><fa name="globe"></fa>&nbsp; Innovation & Humanity</a>
        </li>
        <li class="nav-link bar">|<li>
        <li class="nav-item">
          <a class="nav-link scroll" link="#languages"><fa name="lightbulb-o"></fa>&nbsp; Innovative Project</a>
        </li>
      </div>
    </ul>
  </div>
</div>