<div class="navbar navbar-expand-lg shadow-sm">
  <div class="container">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <div class="row justifiy-content-center">
        <img src="./assets/images/iss.png" width="60" height="42" alt="iss logo">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link title" routerLink="portfolio/ptp-iss">INSA 5A PTP ISS</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="portfolio/ptp-iss/smart-devices"><fa name="microchip"></fa>&nbsp; Smart Devices</a>
        </li>
        <li class="nav-link bar">•<li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="portfolio/ptp-iss/communication"><fa name="wifi"></fa>&nbsp; Communication</a>
        </li>
        <li class="nav-link bar">•<li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="portfolio/ptp-iss/mdware-services"><fa name="sitemap"></fa>&nbsp; Middleware & Services</a>
        </li>
        <li class="nav-link bar">•<li>
        <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="portfolio/ptp-iss/analysis-data"><fa name="database"></fa>&nbsp; Analysis & Data processing</a>
        </li>
        <li class="nav-link bar">•<li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="portfolio/ptp-iss/innovation-humanity"><fa name="globe"></fa>&nbsp; Innovation & Humanity</a>
        </li>
        <li class="nav-link bar">•<li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="portfolio/ptp-iss/innovative-project"><fa name="lightbulb-o"></fa>&nbsp; Innovative Project</a>
        </li>
      </div>
    </ul>
  </div>
</div>