@import "./assets/variables.scss";

h1, h2, h3, h4, h5, p {
  color: $theme-color;
  font-family: 'Product Sans';
}

.page-title {
  font-variant: small-caps;
}

.download {
  color: white;
  &:hover {
    color: gray;
    text-decoration: none;
  }
}
