@import "./assets/variables.scss";

h1, h2, h3, h4, h5, p, table {
  color: $theme-color;
  font-family: 'Product Sans';
}

table {
  a {
    color: $theme-color;
  }
  tr.sub-title td {
    font-weight: bold;
    background: rgb(236, 239, 243);
  }
}

blockquote {
  border-left: .25em solid #dfe2e5;
  color: #6a737d;
  padding: 0 1em;
   p {
    font-size: 80%;
    color: #6a737d;
   }
}

.page-title {
  font-variant: small-caps;
}

.download {
  color: white;
  &:hover {
    color: gray;
    text-decoration: none;
  }
}

.wrap {
  display: inline-block;
  height: 150px;
  width: 150px;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1); 
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1); 
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1);
}

.wrap img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.wrap:after {
  content: "";
  position: absolute;
  top: -50%;
  left: -60%;
  width: 20%;
  height: 200%;
  opacity: 0;
  transform: rotate(30deg);
  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(
  to right,
  rgba(255, 255, 255, 0.13) 0%,
  rgba(255, 255, 255, 0.13) 77%,
  rgba(255, 255, 255, 0.5) 92%,
  rgba(255, 255, 255, 0.0) 100%
  );
}

/* Hover state - trigger effect */
.wrap:hover:after {
  opacity: 1;
  left: 130%;
  transition-property: left, top, opacity;
  transition-duration: 0.7s, 0.7s, 0.15s;
  transition-timing-function: ease;
}
.wrap:hover {
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.05);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.05);   
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.05);
  transition: all 200ms ease-in;
  transform: scale(1.05);
}

/* Active state */
.wrap:active:after {
  opacity: 0;
}
